@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hanalei&family=Hanalei+Fill&family=Jura&family=Open+Sans&display=swap');

/*
font-family: 'Comfortaa', cursive;
font-family: 'Hanalei', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background-image: url(./kepek/diy-word-tools-assortment_fako.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Jura', sans-serif;
    
    background-color: lightgoldenrodyellow;
    color: brown;

    font-size: x-large;  
}

nav{
    background-color:  brown;
    color: lightgoldenrodyellow;
    padding: 5px;
    position: fixed;
}

nav a{
    color:  lightgoldenrodyellow;
    margin: 5px;
}

nav a:hover{
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-weight: bolder;
}

.banner {
    
}

/*nem mukodik*/
.tartalom {
    font-family: 'Hanalei Fill', cursive;
    text-align: center;
    font-size: 50em; /*hatastalan*/
    min-height: 100vh;
}  

.footer {
    background-color:  brown;
    color: lightgoldenrodyellow;
}

.aktiv {
    font-size: larger;
    box-shadow: 0px 0px 5px lightgoldenrodyellow;
}

h1 {
    font-size: 6rem;
}


